alpaca:
  api_key: "${ALPACA_API_KEY}"
  api_secret: "${ALPACA_SECRET_KEY}"
  mode: "${ALPACA_MODE}"

fmp:
  api_key: "${FMP_API_KEY}"

server:
  host: "0.0.0.0"
  port: 8080

dashboard_password: "${DASHBOARD_PASSWORD}"
pulse_url: "${PULSE_URL}"

google_sso:
  client_id: "${GOOGLE_CLIENT_ID}"
  client_secret: "${GOOGLE_CLIENT_SECRET}"
  redirect_uri: "${GOOGLE_REDIRECT_URI}"
  allowed_emails: "${ALLOWED_EMAILS}"

temple_sso:
  client_id: "${TEMPLE_CLIENT_ID}"
  client_secret: "${TEMPLE_CLIENT_SECRET}"
  redirect_uri: "${TEMPLE_REDIRECT_URI}"
  auth_url: "${TEMPLE_AUTH_URL}"
  token_url: "${TEMPLE_TOKEN_URL}"
  userinfo_url: "${TEMPLE_USERINFO_URL}"


